{% extends "layout.njk"%}

{% block head %}
    <title>Sobre o Foodfy</title>
{% endblock head %}

{% block content %}

    <div class="wrapper">

        <h2>Sobre o Foodfy</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, natus quo fugit ex facere sed aliquid libero consequuntur, doloribus quibusdam laboriosam officiis facilis at nesciunt excepturi distinctio minima quae cupiditate!Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione adipisci assumenda minus reiciendis saepe tenetur? Facere cupiditate ullam, id necessitatibus fuga doloribus officia odit dolores, repudiandae, molestias maiores unde at!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis. Ex illum quidem, aut cupiditate officiis excepturi perspiciatis vitae cum, maiores nam, itaque nisi saepe voluptas doloribus impedit fugiat voluptates?Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio facere impedit molestias nobis. Laudantium, vitae culpa optio dolorum fugiat repudiandae quibusdam hic ullam maxime! Quos neque reiciendis at laudantium harum?</p>
        
        <h3>Como tudo começou</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, voluptates. Corporis iste mollitia ut totam. Repellendus, autem? Tempore, voluptas explicabo? Commodi ipsam quae quam aliquam, hic dolores perferendis harum voluptatem.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis. Ex illum quidem, aut cupiditate officiis excepturi perspiciatis vitae cum, maiores nam, itaque nisi saepe voluptas doloribus impedit fugiat voluptates?Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio facere impedit molestias nobis. Laudantium, vitae culpa optio dolorum fugiat repudiandae quibusdam hic ullam maxime! Quos neque reiciendis at laudantium harum?</p>
       
        <h3>Nossas Receitas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vero inventore doloremque molestiae quibusdam harum delectus aliquid consequatur blanditiis, ea odit nesciunt nostrum deleniti provident ipsum quae aliquam aperiam laudantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium facilis quo non ipsum consequuntur aliquam dicta dolore accusantium nisi, molestiae aut inventore temporibus, qui, quisquam quia eaque mollitia placeat maiores.</p>       


    </div>

{% endblock content %}
